#profile_contener{
    margin-top: 10%;
}
#profile_menu{
    text-align: center;
    background-color: aliceblue;
    float: left;
    width: 15%;
    margin-left: 5%;
    border: 5px solid blue;
    border-radius: 50px;
}
#profile_content{
    margin-left: 10%;
    width: 60%;
    float: left;
    border: 5px solid yellow;
    border-radius: 50px;

}