#filter_bar{
    float: left;
    width: 20%;
    margin-left: 5%;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
    overflow-y : auto; 
    height:80vh;

}
#display_items{
    border-radius: 50px;
    background-image: url('background.svg');
    float: left;
    width: 65%;
    left: 25%;
    margin-left: 5%;
    border: 2px solid black;
    height: 100%;
    background-color: aliceblue;
}

.display_screen{
    background-color: aliceblue;
    border: 5px solid black;
    border-radius: 30px;
}
.screen_image{
    margin-left: 5%;
    margin-top: 5%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid blue;
    height: 100%;
    float: left;
}
.buy{
    float: left;
    margin-left: 3%;
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 100%;
} 

.description{
    left: 25%;
    margin-left: 5%;
    width: 27%;
    float: left;
    border: 5px solid yellow;
    width:fit-content ;
}
.screen_data{
    font-size: x-large;
}
.opinion{
    width: 36%;
    float: left;
    border: 5px solid red;
}
.blank{
    clear: both;
}
.separator{
    height: 10px;
}
.opinion{
    height: 300px;
    overflow-y: auto;
}