{% extends "user_profile/logged_user_base.html" %}
{% load static %}
{% load template_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div id = "filter_bar">
        <form method="GET" action="{% url 'search_filter' %}">
            <h3>Producent:</h3>
            <p><input type="checkbox" name="msi"> MSI</p>
            <p><input type="checkbox" name="benq"> BenQ</p>
            <p><input type="checkbox" name="acer"> Acer</p>
            <p><input type="checkbox" name="samsung"> Samsung</p>
            <p><input type="checkbox" name="iiyama"> iiyama</p>
            <p><input type="checkbox" name="aoc" > AOC</p>
            <p><input type="checkbox" name="lg"> LG</p>
            <h3>Cena:</h3>
            <input type="text" value="{{ filters_limits|lookupMIN:"cena" }}" name="cena_od" placeholder="od">
            <input type="text" value="{{ filters_limits|lookupMAX:"cena" }}" name="cena_do" placeholder="do">
            <h3>Przekatna Ekranu:</h3>
            <input type="text" value="{{ filters_limits|lookupMIN:"przekatna_ekranu" }}" name="przekatna_od" placeholder="od">
            <input type="text" value="{{ filters_limits|lookupMAX:"przekatna_ekranu" }}" name="przekatna_do" placeholder="do">
            <h3>Rozdzielczosc:</h3>
            {% for resolution in resolutions %} 
                <p><input type="checkbox" name="{{ resolution }}"> {{ resolution }} </p>
            {% endfor %}
            <h3>Czas reakcji:</h3>
            <input type="text" value="{{ filters_limits|lookupMIN:"odswiezanie" }}" name="odswiezanie_od" placeholder="od">
            <input type="text" value="{{ filters_limits|lookupMAX:"odswiezanie" }}" name="odswiezanie_do" placeholder="do">
            <h3>Matryca ekranu:</h3>
            <p><input type="checkbox" name="ips"> IPS</p>
            <p><input type="checkbox" name="va" > VA</p>
            <p><input type="checkbox" name="tn"> TN</p>
            <h3>Maksymalna jasnosc:</h3>
            <input type="text" value="{{ filters_limits|lookupMAX:"max_jasnosc" }}" name="jasnosc_do" placeholder="max">
            <br>
            <h3>Sortuj po:</h3>

            <input type="radio" name="sort" id = "sort_cena" value="cena">
            <label for="sort_cena">Cena</label><br>

            <input type="radio" name="sort" id = "sort_przekatna" value="przekatna_ekranu">
            <label for="sort_przekatna">Przekatna ekranu</label><br> 

            <input type="radio" name="sort" id = "sort_rozdzielczosc" value="rozdzielczosc">
            <label for="sort_rozdzielczosc">Rozdzielczosc ekranu</label><br>

            <input type="radio" name="sort" id = "sort_czas_reakcji" value="czas_reakcji">
            <label for="sort_czas_reakcji">Czas reakcji</label><br>

            <input type="radio" name="sort" id = "sort_jasnosc" value="jasnosc">
            <label for="sort_jasnosc">Jasnosc</label><br>

            <h3><label for="sort_type">Typ sortowania:</label></h3>
            <select id="sort_type" name="sort_type">
              <option value="DESC">Malejaco</option>
              <option value="ASC">Rosnaco</option>
            </select>
            <br>
            <br>
            <p><button type="submit">Filtruj</button></p>
        </form>
    </div>
    <div id = "display_items">
        {% for screen in data%} 
            <div class = "display_screen">
                <div class = 'buy'>
                    <form action="{% url 'basket' screen.id_monitor %}" method="POST">
                        {% csrf_token %}
                         <button type="submit" name='mybtn2'>Dodaj do koszyka</button>
                    </form>
                </div>
                <div class = "screen_image">
                    <img src="{% static 'databaseHandler/static/images/msi/100.png' %}">
                </div>
                <div class = "description">
                    <p> <b class ="screen_data">Model:</b>  {{ screen.nazwa }}</p>
                    <p> <b class ="screen_data">Cena:</b>  {{ screen.cena }}</p>
                    <p> <b class ="screen_data">Przekatna ekranu:</b>  {{ screen.przekatna_ekranu }}</p>
                    <p> <b class ="screen_data">Rozdzielczosc:</b>  {{ screen.rozdzielczosc }}</p>
                    <p> <b class ="screen_data">Czas Reakcji (ms):</b>  {{ screen.odswiezanie }}</p>
                    <p> <b class ="screen_data">Matryca:</b>  {{ screen.matryca }}</p>
                    <p> <b class ="screen_data">Max jasnosc (cd/m²):</b>  {{ screen.max_jasnosc }}</p>
                </div>
                <div class = "opinion">
                    <p>Srednia ocena: {{ opinions|access:screen.id_monitor |access:1 }}</p>
                    {% for id,info in opinions.items %}
                        {% if id == screen.id_monitor %}
                            {% for opinion in info|access:0 %}
                                <p>{{opinion}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class = "blank"></div>
            </div>
            <div class = 'separator'></div>
        {% endfor %}
    </div>
{% endblock content %}