#image3
{
    position: absolute;
    margin-left: 300px;
    opacity: 0.5;
    height: 90vh;
    background-repeat: no-repeat;
    background-image: url("images/background3.4f646371b2a2.jpg");
    background-size: cover;
    border-radius: 150px;
    clear: both;
    font-size: xx-large;
    text-align: center;
}